Bonjour,

%br

Un ami vous propose de le rejoindre sur MonDVDClub.fr, un service qui permet de se prêter facilement des DVDs entre amis.

%br

Cliquez 
= link_to 'sur ce lien', @body[:url]
pour créer votre compte !

Voici son message personnel : 
%br
%br
= @body[:message].gsub(/\n/, '<br/>')

A tout de suite sur MonDVDClub ! 

