Bonjour ! 
%br
%br
Bienvenue sur MonDVDClub, 
%br
le premier service qui facilite le prêt de DVD entre amis ! 
%br
%p
  Vous pouvez dés à présent vous connecter et compléter votre liste de DVD: 
  = link_to "j'accède à ma liste.", @body[:home_url]
  
%p
  En accédant à votre compte, vous pouvez mettre à jour votre mot de passe et vos informations personnelles. 
  
%p
  Augmentez les possibilités d'échanges: créez des listes différentes et invitez vos collèges, voisins et amis !
  
%p
  Bonnes découvertes dans votre DVD Club !   
