Bonjour
= @body[:name]
%br
%br
Bienvenue sur Mon DVD Club, 
%br
le premier service de prêt de DVD simple et facile !
%br

%p
  Vous pouvez dés à présent vous connecter sur votre DVD Club pour compléter votre liste de DVD: 
  = link_to "j'accède à mon DVD Club.", @body[:login_url]
  
%p
  En accédant à votre profil, vous pouvez mettre à jour votre mot de passe et vos informations personnelles. 
  
%p
  Augmentez les possibilités d'échanges dans votre DVD Club: invitez vos collèges, voisins et amis à rejoindre votre DVD Club ! J'invite mes amis.
  
%p
  Bonnes découvertes sur votre DVD Club !   
