.flash {
  font-size:1.4em;
  margin:15px auto 15px auto;
  width:824px;
  text-align: center;
  background: #D8D0B9;
  border: 3px solid #99816B;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 10px 0;
}

.flash span {
  padding: 10px;
}

.box h3 a{ 
  color:#00A3B1;
  margin:5px 100px 0 0;
  text-decoration: none;
}

.clear {
  clear: both;
}

.flickr_pagination {
  margin-top: 20px;
  text-align: center;
  padding: .3em; }
  .flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination span.current {
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #00A3B1;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #00A3B1;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
