/*****************************************************************************/
/*
/* Standard Form
/*
/*****************************************************************************/

.standard_form {
  margin: 3em auto 0 auto;
  width: 60em;
  padding: 2em 2em 1em 2em;
  text-align:left;
}

  .standard_form h1 {
    font-size: 160%;
    margin-bottom: 1em;
  }
  
    .standard_form h1 a {
      font-size: 70%;
      font-weight: normal;
    }
    
  .standard_form p {
    margin: .5em 0;
  }
  
  .standard_form p.note {
    color: #a00;
  }
    
  .standard_form form {
    
  }
  
    .standard_form form label,
    .standard_form form .label {
      font-size: 110%;
      color: #666;
      display: block;
      margin: 0;
      margin-top: 1em;
    }
    
      .standard_form form label a {
        font-size: 90%;
      }
      
      .standard_form form label.error {
        color: #a00;
      }
      
    .standard_form form .label label {
      margin: 0;
      color: black;
      font-size: 95%;
    }
    
      .standard_form form .label span {
        font-size: 90%;
        color: #888;
      }
    
    .standard_form form input.text,
    .standard_form form textarea {
      padding: 5px;
      border: 1px solid #888;
    }
  
      .standard_form form input.text {
        font-size: 110%;
      }
    
      .standard_form form textarea {
        
      }
      
      .standard_form form input.submit {
        font-size: 120%;
        padding: .1em 1em;
      }
      
      .standard_form form label.error input.text,
      .standard_form form label.error textarea {
        border: 1px solid #a00;
        background-color: #f2e1e1;
      }
      
/*****************************************************************************/
/*
/* Login
/*
/*****************************************************************************/

#login_panel {
  background-color: #eaf2f5;
  border: 20px solid #ddd;
  width: 31em;
}

#login_panel input.text {
  width: 25em;
}

/*****************************************************************************/
/*
/* Forgot Password
/*
/*****************************************************************************/

#forgot_password {
  background-color: #eaf2f5;
  border: 20px solid #ddd;
  width: 31em;
}

/*****************************************************************************/
/*
/* Profile
/*
/*****************************************************************************/

#profile {
  background-color: #eaf2f5;
  border: 20px solid #ddd;
  margin: 3em auto 0 auto;
  width: 60em;
}

#profile input.text, select{
  width: 25em;
}

#profile textarea.text {
  width: 54em;
}


.error {
  background: #996C8A;
}
