.main-form

  / Form to change or add a username and password
  -form_for @user do |f|
    .row
      .lab
        %label{ :for => 'user_email' }=t 'form.email'
      .inp.focus= f.text_field :email, :class => :text
    .row
      .lab
        %label{ :for => 'user_password' }=t 'form.pass'
      .inp.focus= f.password_field :password, :class => :text


    = hidden_field_tag :token, @token
    = render :partial => '/layouts/submit_buttons', :locals => {:text => @user.new_record? ? t(:'form.create') : t(:'form.validate')}
