.main-form

  / Form to change or add a username and password
  -form_for @user do |f|
    .row
      .lab
        %label{ :for => 'user_email' } Email:
      .inp.focus= f.text_field :email, :class => :text
    .row
      .lab
        %label{ :for => 'user_password' } Mot de passe:
      .inp.focus= f.password_field :password, :class => :text


    = hidden_field_tag :token, @token
    = render :partial => '/layouts/submit_buttons', :locals => {:text => @user.new_record? ? 'Créer' : 'Valider'}
