#login.standard_form
  %h1 Modifier votre mot de passe:
  - if flash[:notice]
    #flash-notice
      = flash[:notice]
  - form_for(:user) do |f|
    %label
      New Password:
      %br    
      = f.password_field :password, :class => :text

    %label
      Retype New Password:
      %br
      = f.password_field :password_confirmation, :class => :text
    
    = render :partial => '/shared/submit_buttons'