= render :partial => '/shared/menu', :locals => {:parent => 'Moi', :object => 'Mon compte'} if logged_in?
.standard_form
  %h1 
  -form_for @user do |f|
    = render :partial => 'form', :locals => {:f => f} 