.blue-box
  %h1
    =link_to "Mot de passe oublié", ''

.main-form
  - if flash[:notice]
    #flash-notice
      = flash[:notice]
  - form_for(:user) do |f|
    .row
      .lab
        %label Votre Email:
      .inp.focus
        = f.text_field :email, :class => :text
    =render :partial => '/layouts/submit_buttons', :locals => {:text => 'Ok'}