#login.standard_form
  %h1 
    Mot de passe oublié 
  - if flash[:notice]
    #flash-notice
      = flash[:notice]
  - form_for(:user) do |f|
    %label
      Votre Email:
      = f.text_field :email, :class => :text
    = render :partial => '/shared/submit_buttons', :locals => {:text => 'Ok'}
