.blue-box
  %h1
    =link_to t(:'register.title'), ''
.rounded-box
  .bg-bottom
    .bg-top
      =t :'register.banner'

#profile.standard_form    
  - if @invitation
    %h1 
      Rejoignez le DVD club:
      = @dvd_club.name
    %h3 
      invitation envoyé par: 
      = @invitation.user.login
  - else
  

  .facebook-connect
    #fb-root
    - fb_login :perms => 'email', :text => t(:'register.facebook') do 
      new DvdBook( arguments[2] );

  .connect-or
    =t :'register.or'
    
  = render :partial => 'form'
  - content_for :javascript do
    = javascript_include_tag 'DvdBook'
      
