.site
  #profile.standard_form    
    - if @invitation
      %h1 
        Rejoignez le DVD club:
        = @dvd_club.name
      %h3 
        invitation envoyé par: 
        = @invitation.user.login
    - else
      %h1 Créez votre DVD Club  
    = render :partial => 'form'
    
      