.site
  #profile.standard_form
    %h1 
      - if @dvd_club
        Rejoindre le DVD Club:
        = @dvd_club.name
      - else
        Créez votre DVD Club       
    
    = render :partial => 'form'  