.blue-box
  %h1= link_to 'Mot de passe oublié'

.rounded-box
  .bg-bottom
    .bg-top
      A confirmation mail is sent to your email address. Please click on the url in the mail to proceed for password reset.