#footer
  %ul
    %li= link_to 'A propos', '#'
    %li= link_to "Conditions d'utilisation", '#'
    %li= link_to 'Mentions Légales', '#'
    %li= link_to 'Vie privée', '#'
  Service édité par 
  =link_to 'Sébastien Sacard', '#'#footer
