.blue-box
  %a.right-tab{ :href => "/settings" }
    %span
      %span 
        Gestion
  
/  %ul
/    - if parent == :myself
/      %ul.submenu
/        - if object == :clubs
/          %li.active
/            = link_to '<span>Mes Clubs</span>', "/dvd_clubs"
/        - else
/          %li
/            %span
/              = link_to '<span>Mes Clubs</span>', "/dvd_clubs"
/          
/        - if object == :dvds
/          %li.active
/            = link_to '<span>Mes DVD</span>', "/home/dvds"
/        - else
/          %li 
/            = link_to '<span>Mes DVD</span>', "/home/dvds"
/    
/        %li 
/        - if object == :requested
/          %li.active
/            = link_to '<span>Emprunts en cours</span>', "/home/requests"
/        - else
/          %li 
/            = link_to '<span>Emprunts en cours</span>', "/home/requests"
/          
/        - if object == :pending
/          %li.active
/            = link_to '<span>Demandes en cours</span>', "/home/pendings"
/        - else
/          %li 
/            = link_to '<span>Demandes en cours</span>', "/home/pendings"