#menu.basic
  .site 
    %ul.menu
      %li.active 
        Mon Club
      %li 
        Moi
.site 
  %ul.submenu
    %li.active 
      Mes Clubs
    %li 
      Mes DVD
    %li 
      Mes demandes
    %li 
      Mon compte
      
