= render :partial => '/shared/menu', :locals => {:object => 'Mes demandes', :parent => 'Moi'} if logged_in?
.site
  - @dvds.each do |dvd|
    = render :partial => 'dvds/partials/dvd', :locals => {:dvd => dvd}
    %br