= render :partial => '/layouts/menu', :locals => {:object => :dvds, :parent => :myself} if logged_in?
.site
  %h2= link_to 'Ajouter un DVD', "/dvds/new" 
  
  

  %h2 Mes DVDs 
  = render :partial => 'dvds/partials/dvds', :locals => {:dvds => self.current_user.owned_dvds}
    
#clear