= render :partial => '/shared/menu', :locals => {:parent => 'Mon Club', :object => false} if logged_in?
.site 
  = render :partial => 'shared/categories'
  #accueil
    %h2
      = "5.title"[:'5.title']
    %h3 
      ="5.subtitle"[:'5.subtitle']
    - if @dvds.empty?
      Pas de DVD actuellement dans vos club
    - else
      = render :partial => 'dvds/partials/dvds', :locals => {:dvds => @dvds}
      
      
    %br
    %br
    =# link_to 'Voir tous les ajouts', '#'
  #clear
  %br

