= render :partial => '/layouts/menu', :locals => {:object => :requested, :parent => :myself} if logged_in?

.main-box
  .easyfix
    .main
      %h2{}=t 'borrows.in'
      %p= render :partial => 'dvds/partials/borrows', :locals => {:dvds => @dvds}
      
      %h2{}=t 'borrows.out'
      %p= render :partial => 'dvds/partials/borrows', :locals => {:dvds => @given_dvds}    