= render :partial => '/layouts/menu', :locals => {:object => :requested, :parent => :myself} if logged_in?

.main-box
  .easyfix
    .main
      %h2 Les DVDs que j'ai empruntés
      %p= render :partial => 'dvds/partials/dvds', :locals => {:dvds => @dvds}
      
      %h2 Les DVDs que j'ai prêtés
      %p= render :partial => 'dvds/partials/dvds', :locals => {:dvds => @given_dvds}    