
<div class="blue-box">
	<h1>
		A propos de MonDVDClub
	</h1>
</div>
<div class="rounded-box">
	<div class="bg-bottom">
		<div class="bg-top">
			<p>MonDVDClub est un service gratuit permettant aux particuliers de se prêter des DVDs.</p>
			
			<h3>L'histoire</h3>
			<p>L'idée de développer un service permettant de se prêter des DVDs entre amis est née du constat suivant : nous avons tous des dizaines de DVDs à la maison que nous avons achetés pour une bonne raison. Et si ces DVDs permettaient d'échanger plus avec des amis ? En prêtant un DVD que nous aimons particulièrement, on partage un peu des sentiments qui nous ont fait aimer un film, une série, un documentaire...</p>
			<p>C'est l'occasion de mieux se connaitre, et d'échanger des idées !</p>
			
			<h3>Et le téléchargement ?</h3>
			<p>Il est très facile de télécharger des films via les réseaux pirates, ou de les regarder en <i>streaming</i>. Au delà du fait que cette pratique est illégale, il est souvent assez difficile de trouver des films de bonne qualité, en VO, ou tout simplement des films rares.</p>
			<p>Le prêt est porteur d'une attention : "Regarde ce film, tu vas adorer !".</p>
			
			<h3>Et la VOD ?</h3>
			<p>Aujourd'hui, la VOD reste un service cher et non accessible à tous. Bien que cela soit très confortable de regarder un film en VOD, les films disponibles sont assez peu nombreux, on ne retrouve que les films à grand succès. Avec MonDVDClub, vous pouvez accéder à un catalogue plus riche, et surtout plus personnel !</p>
		</div>
	</div>
</div>
