
<div class="blue-box">
	<h1>
		Aide à l'utilisation
	</h1>
</div>
<div class="rounded-box">
	<div class="bg-bottom">
		<div class="bg-top">
			<ul>
				<li><a href="#mondvdclub">MonDVDClub, c'est quoi ?</a></li>
				<li><a href="#inscription">Comment s'inscrire ?</a></li>
				<li><a href="#cercle">Qu'est-ce qu'un cercle ?</a></li>
				<li><a href="#ajouterDVD">Comment ajouter un DVD ?</a></li>
				<li><a href="#inviter">Comment inviter des amis ?</a></li>
				<li><a href="#preter">Comment prêter un DVD ?</a></li>
				<li><a href="#demander">Comment demander à emprunter un DVD ?</a></li>
			</ul>
			
			<hr/>
			
			<a name="mondvdclub"></a>
			<h3>MonDVDClub, c'est quoi ?</h3>
			<p>MonDVDClub est un service gratuit permettant de se prêter des DVDs entre amis. Le service permet de lister ses DVDs, de créer des listes et d'inviter des amis à partager ses DVDs.</p>
			

			<a name="inscription"></a>
			<h3>Comment s'inscrire ?</h3>
			<p>Pour s'inscrire à MonDVDClub, il suffit de se connecter via son compte Facebook ou de créer un compte avec un email et un mot de passe. </p>
		
			<a name="cercle"></a>
			<h3>Qu'est-ce qu'un cercle ?</h3>
			<p>Un cercle est un groupe de personnes dont les DVDs sont mis en commun. Lors de la création de compte sur MonDVDClub, chaque utilisateur commence avec un cercle principal, auquel peuvent être invités des amis. Il est possible de créer plusieurs cercles, un pour chaque endroit que vous fréquentez régulièrement : par exemple un cercle "Voisins", un cercle "Travail", un cercle "Club de sport", etc.</p>
			<p>Une fois inscrit dans un cercle, chaque membre peut à son tour inviter d'autres membres à rejoindre le cercle.</p>
			<p>Vous n'avez pas besoin d'ajouter un DVD à plusieurs cercles : à chaque fois que vous ajouter un DVD, il est visible dans chacun de vos cercles.</p>
			
			<a name="ajouterDVD"></a>
			<h3>Comment ajouter un DVD ?</h3>
			<p>Il existe 2 façons d'ajouter un DVD : </p>
			<ul>
				<li>Utiliser le moteur de recherche</li>
				<li>Utiliser la saisie manuelle</li>
			</ul>
			
			<a name="inviter"></a>
			<h3>Comment inviter des amis ?</h3>
			<p>Il est possible d'inviter des amis à un cercle : pour cela, aller dans l'onglet "Mes cercles" et cliquer sur le bouton "inviter des amis". Le formulaire qui apparait permet de saisir une liste d'emails, et un message personnel.</p>
			<p>Les personnes invitées reçoivent un email leur permettant de créer un compte et d'ajouter leurs propres DVDs.</p>
			
			<a name="preter"></a>
			<h3>Comment prêter un DVD ?</h3>
			<p>Aujourd'hui, le prêt de DVD doit être à l'initiative du demandeur.</p>
				
			<a name="emprunter"></a>
			<h3>Comment emprunter un DVD ?</h3>
			<p>Si le DVD sélectionné est disponible au prêt, le demandeur doit cliquer sur le bouton "Emprunter" puis confirmer sa demande. Ensuite, un email est envoyé au propriétaire du DVD pour qu'il confirme le prêt.</p>
	
		</div>
	</div>
</div>
