
<div class="blue-box">
	<h1>
		Conditions d'utilisation
	</h1>
</div>
<div class="rounded-box">
	<div class="bg-bottom">
		<div class="bg-top">
			<p>MonDVDClub.fr est un service permettant de prêter temporairement ses propres DVDs légalement, uniquement à ses amis.</p> 
			
			<p>2 conditions seulement à remplir :</p>
			<ul>
				<li>Le DVD que vous prêter doit être l'original (ex: acheté en magasin)</li>
				<li>Le prêt doit être fait entre personnes proches : amis, familles, collègues de travail... c'est la définition par la loi du "cercle privé". </li>
			</ul>
		</div>
	</div>
</div>
