
		<div class="blue-box">
			<h1>
				Mentions légales
			</h1>
		</div>
		<div class="rounded-box">
			<div class="bg-bottom">
				<div class="bg-top">
					<strong>MonDVDClub</strong> est un service édité par la société Iterate Consulting SARL.
					
					<h2>Informations juridiques</h2>
					Raison Sociale : Iterate Consulting SARL<br/>
					Capital social : 1000 EUR<br/>
					Siège social : 34 Boulevard de Clichy, 75018 PARIS<br/>
					N° RCS : en cours d'attribution<br/>
					SIRET : en cours d'attribution<br/>
					N° TVA Intracommunautaire : en cours d'attribution<br/>
					
					<h2>Hébergement du site</h2>
					<p>Heroku Inc., located at 321 11th St, San Francisco, CA, 94103, United States</p>
					
					<h2>Utilisation des cookies</h2>
					<p>Nous souhaitons implanter un cookie dans votre ordinateur.</p>
					<p>Il stocke des informations relatives à votre navigation sur notre site (les pages que vous avez consultées, la date et l'heure de la consultation, etc.). Nous pourrons lire ces informations lors de vos prochaines visites. </p>
					
					<p>La durée de conservation de ces informations dans votre ordinateur est de 1 jour. Ce cookie ne nous permet pas de vous identifier.</p>
					<p>Vous pouvez vous opposer à l'enregistrement des cookies en paramétrant votre navigateur de la manière suivante :</p>
					
					<h3>Pour Mozilla firefox :</h3>
						<ol>
							<li>Choisissez le menu "outil " puis "Options" </li>
							<li>Cliquez sur l'icône "vie privée" </li>
							<li>Repérez le menu "cookie" et sélectionnez les options qui vous conviennent</li>
						</ol>
						
					<h3>Pour Microsoft Internet Explorer : </h3>
						<ol>
							<li>choisissez le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options"). </li>
							<li>cliquez sur l'onglet "Confidentialité" (ou "Confidentiality" </li><li>sélectionnez le niveau souhaité à l'aide du curseur. </li>
						</ol>
						
					<h3>Pour Opéra :</h3>
						<ol>
							<li>choisissez le menu "Fichier"&gt;"Préférences" </li>
							<li>Vie Privée</li>
						</ol>

				</div>
			</div>
		</div>
