.user
  = avatar user
  %p
    %b= user.pseudo(dvd_club)
    - membership = UserDvdClub.membership(dvd_club, user)
    - if membership.invited_by
      .clear
      Invité par
      %b= membership.invited_by.pseudo(dvd_club)
    / %br
    / = link_to 'blacklister', '#'
    / %br
    / = link_to 'contacter', '#'