.user
  = avatar user
  %p
    %b= user.login
    - membership = UserDvdClub.membership(dvd_club, user)
    - if membership.invited_by
      .clear
      Invité par
      %b= membership.invited_by.login
    / %br
    / = link_to 'blacklister', '#'
    / %br
    / = link_to 'contacter', '#'
