= render :partial => '/layouts/menu', :locals => {:parent => :myself, :object => :clubs} if logged_in?

.main-box
  .promo-box
    .btn
      .bg-left
        %a{ :href => "/dvd_clubs/new" }
          %span
            %span Créer un nouveau club
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed.</p>
  .easyfix.top-border
    .main
      = render :partial => 'dvd_club', :collection => self.current_user.dvd_clubs, :locals => {:all_members => false}
