= render :partial => '/shared/menu', :locals => {:parent => 'Mon Club', :object => 'Mes Clubs'} if logged_in?
.site
  %h3
    Vous avez invité des amis à rejoindre votre club 
  Les personnes suivantes vont recevoir un mail les invitant à rejoindre votre club:
  %br
  - @recipients.each do |r|    
    = r
    %br
  %br
  Une fois leur compte créé, leurs DVDs seront automatiquement disponibles dans votre DVD Club commun.
