= render :partial => '/layouts/menu', :locals => {:parent => 'Mon Club', :object => :clubs} if logged_in?
.site
  %h3
    Vous avez invité des amis à rejoindre votre club 
  Les personnes suivantes vont recevoir un mail les invitant à rejoindre votre club:
  %br
  - @recipients.each do |r|    
    = r
    %br
  %p
    Une fois leur compte créé, leurs DVDs seront automatiquement disponibles dans votre DVD Club commun.
  %p
    Vous allez être redirigé vers la page d'ou vous avez faite votre demande dans les prochaines secondes, ou en 
    = link_to 'cliquant ici.', dvd_clubs_path