= render :partial => '/shared/menu', :locals => {:object => 'Mes DVD', :parent => 'Moi'} if logged_in?
.site
  %h3
    Votre acceptation a été prise en compte
  %br  
  = @dvd.booked_by_user.login
  va recevoir dans les prochaines minutes un mail
  l'avertissant de votre décicision. N'oubliez pas de lui apporter le
  DVD prochainement !
  %br
  Vous allez être redirigé vers la page d'accueil de votre DVD Club
  dans les prochaines secondes, ou 
  = link_to 'en cliquant ici. ', mydvds_path