= render :partial => '/layouts/menu', :locals => {:object => :dvds, :parent => :myself} if logged_in?
.site.center
  %h3
    Votre acceptation a été prise en compte
  %br  
  = @dvd.booked_by_user.pseudo_for_user(current_user)
  va recevoir dans les prochaines minutes un mail
  l'avertissant de votre décision. N'oubliez pas de lui apporter le
  DVD prochainement !
  %br
  Vous allez être redirigé vers la page d'accueil de votre DVD Club
  dans les prochaines secondes, ou 
  = link_to 'en cliquant ici. ', mydvds_path
