= render :partial => '/shared/menu', :locals => {:object => :clubs} if logged_in?
.site
  %h3
    Liste des derniers DVD ajoutés à la base de données
  %br
  %br
  #dvd
    = render :partial => 'dvds/partials/dvds', :locals => {:dvds => @dvds}
  %br
  %br
  %br
  = link_to 'Voir le dvd club.', "/dvd_clubs"
  %br
