= render :partial => '/layouts/menu', :locals => {:parent => :myself, :object => false} if logged_in?

.main-box
  .easyfix
    .main
      .heading
        %h2 Liste des derniers DVD ajoutés à la base de données
      .row
        = render :partial => 'dvds/partials/dvds', :locals => {:dvds => @dvds}