= render :partial => '/shared/menu', :locals => {:object => :clubs} if logged_in?
.site
  %h3
    "
    = @dvd.title
    " 
    a été ajouté à la base de données
  %br
  %br
  #dvd
    = render :partial => 'dvds/partials/dvds', :locals => {:dvds => [@dvd]}
  %br
  %br
  %br
  = link_to 'Voir le dvd club.', "/dvd_clubs"
  %br
