= render :partial => '/shared/menu' if logged_in?
.site
  #rubrique
    %h2
      Rubriques
    - self.current_user.dvd_categories.each do |dvd_category|
      = link_to dvd_category.name, dvd_category_dvds_path(dvd_category)  
  #accueil
    %h2
      Accueil
    - @dvds.each do |dvd|
      = render :partial => 'dvds/partials/dvd', :locals => {:dvd => dvd}
  #clear
