= render :partial => '/shared/menu', :locals => {:object => 'Mes DVD', :parent => 'Moi'} if logged_in?
.site.center
  %h3
    Votre refus a été prise en compte
  %br  
  = @dvd.booked_by_user.login
  va recevoir dans les prochaines minutes un mail
  l'avertissant de votre décicision.
  %br
  Si vous souhaitez rendre disponible ce DVD à tout le DVD
  Club, vous pouvez le faire à partir de votre liste de DVD, ou en
  cliquant sur ce lien: 
  = link_to_remote "<input type=\"button\" value=\"rendre disponible ce DVD.\"/>", :url => {:controller => :dvds, :action => :make_available, :id => @dvd.id}, :method => :post
  %br
  = link_to 'Retourner sur votre DVD Club. ', "home/dvds"