= render :partial => '/shared/menu' if logged_in?
.site
  %h3
    "
    = @dvd.owner.login
    " va être averti de votre demande
  %br
  %br
  Dans les prochaines heures, n'oubliez pas de consulter votre
  boîte mail (et votre dossier de spam) pour lire sa réponse.
  %br
  %br
  Vous allez être redirigé vers la page d'ou vous avez faite votre
  demande dans les prochaines secondes, ou 
  = link_to 'en cliquant ici.', "/home/me" 