/ Main menu in the dark green bar
.blue-box
  - if parent == :myself
    %a.right-tab{:href => "/dvd_clubs", :class => "selected"}
      %span
        %span 
          =t :'menu.management'
  - else
    %a.right-tab{:href => "/dvd_clubs"}
      %span
        %span 
          =t :'menu.management'

  %ul
    - if current_user.is_admin?
      - if parent == :admin
        %li
          %a{:href => admin_path, :class => "selected" }
            %span 
              =t :'menu.admin'
      - else
        %li
          %a{:href => admin_path}
            %span
              =t :'menu.admin'
    
    %li
      - if parent == :club
        %a{:href => "/home", :class => "active"}
          %span
            =t :'menu.home'
      - else
        %a{:href => "/home"}
          %span
            =t :'menu.home'

    %li
      - if parent == :myself && object == :pending
        %a{:href => "/home/pendings", :class => "active"}
          %span
            =t :'menu.pending'
            - if actions_needed > 0
              %strong
                %span.left &nbsp;
                %span.counter= actions_needed
                %span.right &nbsp;
      - else
        %a{:href => "/home/pendings"}
          %span 
            =t :'menu.pending'
            - if actions_needed > 0
              %strong
                %span.left &nbsp;
                %span.counter= actions_needed
                %span.right &nbsp;

/ Submenu with tabs on the dvd_clubs page
- if parent == :myself
  .tabset

    - if object == :clubs
      %a{:href => "/dvd_clubs", :class => "active"}
        %span
          %span
            =t :'menu.lists'
    - else
      %a{:href => "/dvd_clubs"}
        %span
          %span
            =t :'menu.lists'

    - if object == :dvds
      %a{:href => "/home/dvds", :class => "active"}
        %span
          %span
            =t :'menu.dvds'
    - else
      %a{:href => "/home/dvds"}
        %span
          %span
            =t :'menu.dvds'

    - if object == :requested
      %a{:href => "/home/requests", :class => "active"}
        %span
          %span
            =t :'menu.pending_out'
    - else
      %a{:href => "/home/requests"}
        %span
          %span
            =t :'menu.pending_out'

    - if object == :pending
      %a{:href => "/home/pendings", :class => "active"}
        %span
          %span
            =t :'menu.pending_in'
    - else
      %a{:href => "/home/pendings"}
        %span
          %span
            =t :'menu.pending_in'

    - if object == :settings
      %a{:href => "/settings", :class => "active"}
        %span
          %span
            =t :'menu.account'
    - else
      %a{:href => "/settings"}
        %span
          %span
            =t :'menu.account'