/ Main menu in the dark green bar
.blue-box
  - if parent == :myself
    %a.right-tab{:href => "/dvd_clubs", :class => "selected"}
      %span
        %span 
          Gestion
  - else
    %a.right-tab{:href => "/dvd_clubs"}
      %span
        %span 
          Gestion

  %ul
    - if current_user.is_admin?
      %li
        %a{:href => admin_path}
          %span Admin
    
    %li
      - if parent == "Mon Club"
        %a{:href => "/home", :class => "active"}
          %span Mon DVD Club
      - else
        %a{:href => "/home"}
          %span Mon DVD Club

    %li
      - if parent == :myself && object == :pending
        %a{:href => "/home/pendings", :class => "active"}
          %span
            Demande en cours
            - if actions_needed > 0
              %strong
                %span.left &nbsp;
                %span.counter= actions_needed
                %span.right &nbsp;
      - else
        %a{:href => "/home/pendings"}
          %span 
            Demande en cours
            - if actions_needed > 0
              %strong
                %span.left &nbsp;
                %span.counter= actions_needed
                %span.right &nbsp;

/ Submenu with tabs on the dvd_clubs page
- if parent == :myself
  .tabset

    - if object == :clubs
      %a{:href => "/dvd_clubs", :class => "active"}
        %span
          %span Mes Clubs
    - else
      %a{:href => "/dvd_clubs"}
        %span
          %span Mes Clubs

    - if object == :dvds
      %a{:href => "/home/dvds", :class => "active"}
        %span
          %span Mes DVD
    - else
      %a{:href => "/home/dvds"}
        %span
          %span Mes DVD

    - if object == :requested
      %a{:href => "/home/requests", :class => "active"}
        %span
          %span Emprunts en cours
    - else
      %a{:href => "/home/requests"}
        %span
          %span Emprunts en cours

    - if object == :pending
      %a{:href => "/home/pendings", :class => "active"}
        %span
          %span Demandes en cours
    - else
      %a{:href => "/home/pendings"}
        %span
          %span Demandes en cours

    - if object == :settings
      %a{:href => "/settings", :class => "active"}
        %span
          %span Mon compte
    - else
      %a{:href => "/settings"}
        %span
          %span Mon compte