!!! Strict
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title DVD Club
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = javascript_include_tag :defaults
  %body
    %div#container
      = yield
